@font-face {
  font-family: Sun-Moon;
  src: url("font_pack__sun_and_moon_by_mucrush_d9t8kqh.ttf");
}

/* ------------------------------- */
@keyframes light-pulse {
  0%{
  filter: drop-shadow(0px 0px 6px #FFFF33);
}
  100% {
    filter: drop-shadow(0px 0px 20px #FFFF33);
  }
}
/* ----------------------------------- */
@keyframes floating{
  0%{
  transform: translateY(0px);
}

  100% {
    transform: translateY(-30px);
  }
}

@keyframes fade-out{
  0%{
opacity: 1;
}

  100% {
    opacity: 0;
  }
}
/* --------------------- */
@keyframes fade-in{
  0%{
opacity: 0;
}

  100% {
    opacity: 1;
  }
}
/* ------------------------- */
@keyframes scale{
    0%{
  transform: scale(1);
  }

    100% {
      transform: scale(1.05);
    }
}

body {
  margin: 0 auto;
  background-color: #101010;
  /* background-color: #000; */
  overflow: hidden;
}

/*
 .poke-selector {
  position: relative;
  width: 25%;
  border: solid 1px;
  margin: 5%;
  padding: 20%;
}

 .poke-selector:after{
  content: "";
  display: block;
  padding-bottom: 100%;

}

 .semiCircle {
  background: #9e978e;
   margin: 0 1em 1em 0;
  display: inline-block;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  border: solid 1px;
}
 */

#container-grid {
  display:none;
}


#container-grid {
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33% ;
  grid-template-areas:
  " header header header"
  " . lightning-bolt ."
  " . . .";
  grid-gap: 9px;
}

#container-grid div {
  /* border: solid 1px;
  border-color: red;
   padding: 2%; */
}


#container-grid #title {
  grid-area: header;
  /* color: #383838; */
  color: #101010;

  display: none;

  font-family: Sun-Moon;
  text-align: center;

  width: 70%;
  font-size: 2300%;
  margin: 14.7%;
  /* text-shadow: 0px 0px 3px #fff000; */

  /* background: -webkit-linear-gradient(#ff9900, #005aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  background: -webkit-linear-gradient(#ff9900, #005aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px #333);
}

#lightningDiv {
  padding: 2%;
    margin: 17.7% 0;
  float:center;
}
#lightning-bolt{
  grid-area: lightning-bolt;
  fill :#383838;
  /* fill: #fff000; */


  position: relative;
  top: 36.7%;
  left: 42%;
  /* filter: drop-shadow(0px 0px 6px #FFFF33); */
  /* animation: light-pulse 1.5s infinite alternate ease-in,
   floating 3s infinite alternate ease-in-out;
  animation-play-state: pause; */
  /* animation-delay: 3s; */
  height: 15%;
      width: 12%;


  /* For clean hover transition */
  transition: 1s;
}

#lightning-bolt:hover{
    fill: #fff000;
    filter: drop-shadow(0px 0px 15px #FFFF33);
    transform: translateY(-25px);
    /* animation: floating 2s infinite alternate ease-in-out;
    animation-play-state: running; */
    transition: 1s
}


#api-grid{
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 33% 33% 33% ;

}
